#container{
    width: 375px;
    height: 590px;
    margin-left: 550px;
    margin-top: 65px;
    background-color: rgb(98, 253, 207);
    padding-left: 30px;
    border-radius: 7px;
    box-shadow: 8px -7px 16px #64e1ff;
}

#cm{
    width: 150px;
    height:25px;
    margin-top: 30px;
    border-radius: 7px;
}

#kg{
    width: 150px;
    height: 25px;
    margin-top: 30px;
    border-radius: 7px;
}

#weightguide{
    margin-left: 75px;
    margin-top: 50px;
}

#result{
    font-size: 35px;
    margin-left: 90px;
    color: blue;
}

#submit{
    width: 150px;
    height: 35px;
    margin-left: 90px;
    margin-top: 25px;
    border-radius: 5px;
    border-style: none;
    background-color: blue;
    color: #fff;
    font-size: 25px;
}

body{
    background-color: #ffffff;
}

h1{
    padding-left: 25px;
    padding-top: 25px;
}